.footer{
    @include padding (60px, 60px);
    background: #2F303A;

    &__container{
        display: flex;
        align-items: baseline;
    }
    
    
    &__item{
        font-style: normal;
        @include fond (400, 14px, 1.17);
        letter-spacing: 0.03em;
    
        &:not(:last-child){
            margin-bottom: 9px;
        }
    }
    
    &__site{
        color: var(--primary-bg-color);
    }
    
    &__communication{
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            color: var(--accent-color);
        }
    }   
    
    &__address{
        margin-right: 70px;
    }
    
}

