.header-container{
    display:flex;     
}

.header{
    border-bottom: 1px solid #ECECEC;
    @include padding (25px, 24px);
}

.main-nav{
    display: flex;
    align-items: center;
}

.link.menu__link--current{
    color: var(--accent-color);

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
    
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}



.menu{
    display: flex; 
    align-items: center;

    &__item:not(:last-child){
        margin-right: 50px;
    }

    &__link{
        position: relative;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding: 32px 0;         
    
        color: var(--title-text-colot);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        animation-duration: 500ms;

        &:hover,
        &:focus{
            color:var(--accent-color);
        }
        
    }
}

.communication{
    display: flex;
    margin-left: auto;
    align-items: center;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    fill: var(--secondary-color);

    &__item:not(:last-child){
        margin-right: 50px;
    }
    
    &__link{
        display: flex;
        align-items: center;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            color: var(--accent-color);
            fill: var(--accent-color);
        }
    }
    
    &__icon{
        margin-right: 10px;
    }
}

