.offers{
    padding-top: 94px;
    margin-bottom: 50px;

    &__list{
        display: flex;
        justify-content: center;
    }

    & :not(:last-child){
        margin-right: 8px;
    }
      
    
}




