.quality{
    padding-top: 94px;
}

.quality__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;


    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

    &--item {
        margin-top:  30px;
        margin-left: 30px;
        width: 270px;
        
    }

    &--title{
        margin-bottom: 10px;
        @include fond;
        text-transform: uppercase;
    
        color: var(--title-text-colot);
    }

    &--description{
        line-height: 1.71;
    }

    &--container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    
        background: #F5F4FA;
        border-radius: 4px;
    }

    &--icon{
        width: 70px;
        height: 70px;
    }
}










